<!DOCTYPE html>
<html>
<head>
  <title>ScoreProto</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="content">
	
</div>
<%= yield %>
</div>
</body>
</html>
